[submodule "NameCaseLib"]
	path = NameCaseLib
	url = https://github.com/ExLuzZziVo/NameCaseLib.NET
[submodule "GOST.Core"]
	path = GOST.Core
	url = ./GOST.Core
	branch = https://github.com/ExLuzZziVo/GOST.Core
